<ion-header-bar class="bar-positive">
  <button class="button button-clear" ng-click="newTask()">New</button>
  <h1 class="title">Don't Repeat Sheets</h1>
  <!-- <button class="button button-clear" ng-click="newCat()">Cat</button> -->
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
  <div class="card alert">{{ alert }}</div>
  <div class="card incident" ng-repeat="item in list" id="{{item.key}}" >
    <div class="item item-text-wrap">
      <h3 class="profile-name">{{item.title}}</h3>
      <p>{{ item.description }}</p>
    </div>
  </div>
  <div class="card" >
    <div class="item item-text-wrap" ng-show="noData">
      <span>
      No incidents recorded. Click  <a href="javascript:" ng-click="newTask()">Here</a> and create one
      </span>
    </div>
  </div>
</ion-content>