<div class="modal slide-in-up" ng-controller="viewCtrl">
  <header class="bar bar-header bar-secondary">
    <h1 class="title">{{incident.title}}</h1>
    <button class="button button-positive" ng-click="close()">Done</button>
  </header>
  <ion-content class="padding has-header viewItem">
    <label><strong class="profile-name">Description</strong></label>
    <div class="item item-text-wrap">{{incident.description}}</div>
    <label><strong class="profile-name">Category</strong></label>
    <div class="item item-text-wrap">{{incident.category}}</div>
    <label><strong class="profile-name">Tags</strong></label>
    <div class="item item-text-wrap">{{incident.tags}}</div>
    <label><strong class="profile-name">Location</strong></label>
    <div class="item item-text-wrap">{{incident.location}}</div>
    <label><strong class="profile-name">Severity</strong></label>
    <div class="item item-text-wrap">
        <span class="{{ incident.severityClass }}">
            <i class="{{ incident.severityIconClass }}"></i>
        </span>
        {{incident.severity}}
    </div>
  </ion-content>
</div>