<div class="modal slide-in-up" ng-controller="newCtrl">
  <header class="bar bar-header bar-secondary">
    <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
    <h1 class="title">New Item</h1>
    <button class="button button-positive" ng-click="createNew()">Done</button>
  </header>
  <ion-content class="padding has-header newItem">
  	<label>Title</label>
    <input type="text" placeholder="Title" ng-model="data.title"><br>
    <label>Description</label>
    <textarea placeholder="Describe an incident" ng-model="data.description"></textarea><br>
    <label>Category</label>
    <select ng-model="data.category">
    	<option ng-repeat="cat in catList" value="{{ cat.title }}">{{ cat.title }}</option>
    </select>
    <label>Tags</label>
    <input type="text" placeholder="Tags: bricks,books,fund raising" ng-model="data.tags"><br>
    <label>Location</label>
    <input type="text" placeholder="27.717245, 85.32396" ng-model="data.location"><br>
    <label>Severity</label>
    <select ng-model="data.severity">
    	<option value="Low">Low</option>
    	<option value="Medium">Medium</option>
    	<option value="High">High</option>
    	<option value="Critical">Critical</option>
    </select>
  </ion-content>
</div>